@import '../../variables.css';

.container {
  position: relative;

  @media (--md-up) {
    padding-top: var(--header-height);
    padding-left: var(--sidebar-width);
  }
}

.sidebarOpened {
  @media (--md-down) {
    left: var(--sidebar-width);
  }
}

.content {
  position: relative;
  padding-top: var(--margin-xl);
  /*TODO*/
  z-index: 1;

  @media (--md-up) {
    padding-top: var(--margin-xl);
    padding-bottom: var(--margin-xl);
  }

  @media (--md-down) {
    padding-top: var(--margin-md);
    padding-bottom: var(--margin-md);
  }
}
