@import "../../variables.css";

.container {
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.filter {
  margin-bottom: 1rem;
}

.chartColumn {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  @media (--sm-down) {
    margin-top: 1rem;
  }
}

.content {
  justify-content: center;
  background-color: #fafafa;
  border: 1px solid #f0f0f2;
  border-radius: 5px;
  position: relative;

  @media (--md-up) {
    padding: var(--margin-xl);
  }

  @media (--md-down) {
    padding: var(--margin-md);
  }
}

.chartWrapper {
  margin-top: 2rem;
  flex: 1;
}

.emptyChart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartCard {
}

.submitBtnWrapper {
}

.groupWrapper {

}

.field {
  @media (--md-up) {
    max-width: 200px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (--sm-down) {
    margin-top: 1rem;
    justify-content: space-between;
  }

}

.clearFiltersBtn {
  cursor: pointer;
  margin-right: 1rem;
}
