@import "../../variables.css";

.container {
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.filter {
  margin-bottom: 1rem;
}

.chartColumn {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  @media (--sm-down) {
    margin-top: 1rem;
  }
}

.topChart {
  @media (--xl-down) {
    margin-bottom: 2rem;
  }
}

.bottomChart {
  @media (--xl-down) {
    margin-top: 2rem;
  }
}

.chartTitle {
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 16px;
}


.content {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.chartWrapper {
  margin-top: 2rem;
  flex: 1;
}

.emptyChart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartCard {
}

.submitBtnWrapper {
}

.groupWrapper {

}

.field {
  @media (--md-up) {
    max-width: 200px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (--sm-down) {
    margin-top: 1rem;
    justify-content: space-between;
  }

}

.clearFiltersBtn {
  cursor: pointer;
  margin-right: 1rem;
}
