@import '../../variables.css';

.container {
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.content {
  background-color: #fafafa;
  border: 1px solid #f0f0f2;
  border-radius: 5px;
  position: relative;

  @media (--md-up) {
    padding: var(--margin-xl);
  }

  @media (--md-down) {
    padding: var(--margin-md);
  }
}

.col {
  margin-bottom: var(--margin-md);
}

.subHeader {
  font-weight: 700;
  color: #656566;
  font-size: 12px;
  padding-left: var(--margin-sm);

  /*TODO*/
  &:nth-child(even) {
    margin-top: var(--margin-lg);
  }
}
