@import '../../variables.css';

.sidebar {
  position: fixed;
  height: 100%;
  width: var(--sidebar-width);
  /*TODO*/
  background-color: #f0f0f2;
  z-index: 1037;
  top: 0;
  left: 0;
  padding: 0;

  @media (--md-down) {
    left: -100%;
  }

  &.opened {
    @media (--md-down) {
      left: 0;
    }
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding-right: var(--margin-xl);
  padding-left: var(--margin-xl);
  @mixin brand-background;
}

.itemWrapper {
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f2;
  }
}

.item {
  display: flex;
  align-items: center;
  height: 70px;
  padding-right: var(--margin-xl);
  padding-left: var(--margin-xl);
  /*TODO*/
  background-color: #979799;
  color: #f0f0f2;

  &:--hover {
    text-decoration: none;
    color: #fff;
  }
}

.logo {
  max-width: 100%;
  height: auto;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.icon {
  margin-right: var(--margin-sm);
}

.active:after {
  content: '';
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  position: absolute;
  display: block;
  @mixin brand-background;
}
