@import '../../variables.css';

.col {
  margin-bottom: var(--margin-md);
}

.container {
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.card {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #f0f0f2;
  border-radius: 5px;
}

.mapCard {
  margin-bottom: var(--margin-md);
}

.fullHeight {
  height: 100%;
}

.cardHeader {
  margin-bottom: var(--margin-md);
}

.row {
  justify-content: center;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.mapWrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.rangesCard {
  max-width: 320px;
  background-color: #f0f0f2;
  padding: 1.5rem 1rem 1rem;
  border: 1px solid #f0f0f2;
  border-radius: 5px;
  margin-top: var(--margin-md);
  margin-bottom: var(--margin-md);
  position: relative;
}

.rangesCardHeader {
  margin-bottom: 1rem;
}

.rangesCardContent {
}

.range {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-sm);
}

.rangeIndicator {
  height: 2rem;
  width: 2rem;
  border-radius: 3px;
  display: block;
}

.rangeLabel {
  font-size: 80%;
  margin-left: .5rem;
  margin-right: 1rem;
}

.list li {
  margin-bottom: var(--margin-sm);
}
