@import '../../variables.css';

.container {
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.header {
  text-align: center;

  @media (--md-up) {
    margin-bottom: var(--margin-lg);
  }

  @media (--md-down) {
    margin-bottom: var(--margin-md);
  }
}

.modules {
  @media (--md-up) {
    margin-top: var(--margin-xl);
  }
}

.module {
  background-color: #fafafa;
  padding: var(--margin-md);
  border: 1px solid #f0f0f2;
  border-radius: 5px;
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-md);

  &:--hover {
    background-color: #efeff1;
  }
}
