@import '../../variables.css';

.container {
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.header {
  text-align: center;

  @media (--md-up) {
    margin-bottom: var(--margin-lg);
  }

  @media (--md-down) {
    margin-bottom: var(--margin-md);
  }
}
