@import '../../variables.css';

.container {
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.header {
  text-align: center;

  @media (--md-up) {
    margin-bottom: var(--margin-lg);
  }

  @media (--md-down) {
    margin-bottom: var(--margin-md);
  }
}

.back {
  margin-left: 16px;
  background-color: #fff;
  border: 1px solid #f0f0f2;
  border-radius: 5px;
  padding: var(--margin-md);
  height: 50px;
  width: 100px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: var(--margin-md);

  &:not(.disabled):--hover {
    background-color: #f9f9fb;
  }
}

.form {
  /*TODO*/
  background-color: #fafafa;
  border: 1px solid #f0f0f2;
  width: 700px;
  max-width: 100%;
  border-radius: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @media (--md-up) {
    padding: var(--margin-xl);
  }

  @media (--md-down) {
    padding: var(--margin-md);
  }
}

.formHeader {
  margin-bottom: var(--margin-md);
  color: var(--muted);
}

.col {
  margin-top: var(--margin-md);
}

.actions {
  text-align: center;
  margin-top: var(--margin-md);
}

.advancedDetailsBtnWrapper {
  text-align: right;
  margin-top: var(--margin-md);
}

.advancedDetailsBtn {
  cursor: pointer;
}
