@import '../../variables.css';

.smallLogo {
  /*TODO*/
  height: 35px;

  @media (--md-up) {
    display: none;
  }

  @media (--md-down) {
    display: none;
  }
}

.title {
  @media (--md-down) {
    display: none;
  }
}

.header {
  background: #f0f0f2;
  padding-right: var(--margin-xl);

  /*TODO*/
  z-index: 1036;
  height: var(--header-height);

  @media (--md-up) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /*TODO*/
    padding-left: 240px;
  }

  @media (--md-down) {
    position: relative;
    /*TODO*/
    padding-left: 115px;
  }
}

.toggler {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  /*TODO*/
  z-index: 2;
  cursor: pointer;
  @mixin brand-background;
  @media (--md-up) {
    display: none;
  }
}

.togglerIcon {
  position: relative;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--white);
}

.dropdown {
  margin-right: var(--margin-md);
}

.dropdownLabel {
  margin-right: var(--margin-sm);
}

.muted {
  color: #aaa;
  font-size: 12px;
}
