/*--------------------------------------------------------------
## Copy
--------------------------------------------------------------*/

// General
p {
  margin:0;
  padding:0;
  @include transition(all .3s 0s ease);
}

// Text Selection
::selection {
  background: $color__brand_blue;
  color: $color__brand_light;
}
::-moz-selection {
  background: $color__brand_blue;
  color: $color__brand_light;
}

// Inline Elements
code {
	background-color: #ffeee5;
	color: #ff8e59;
}
.highlight pre code {
	font-size:14px;
}
.s {
  	color: #ff8e59;
}
mark {
  	background: $color__brand_blue_lighter none repeat scroll 0 0;
}
b, strong {
  	color:$color__text_heading;
}
caption {
	color: $color__brand_blue_light;
}

// Color
.text-white {
  color:#fff;

  strong {
    color:#fff;
  }
}
.text-light {
  @include opacity(.5);
}
.text-primary-bright {
  color:$color__brand_green;
}
.text-info-bright,
.text-success-bright {
  color:$color__brand_blue;
}
.text-warning-bright {
  color:$color__brand_yellow;
}
.text-danger-bright {
  color:$color__brand_red;
}

// Line height
.line-height-condensed {
  line-height: 1.15em;
}

// Size
.text-lg {
  font-size:140%;
}

.font-size-40 { font-size:40px; }


